{% extends 'base.html'  %}
{% block content %}



<div class="mainColl">
    <div id='tweets'>

    </div>
</div>




<script>




const tweetsElement = document.getElementById('tweets')


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweetList'
const responseTyp = "json"

function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id)

}

function LikeBtn(tweet){
    return "<div class='likeContainer'><div class='likesNumber'>"+ tweet.likes+"</div><div class='heart' onclick=handleDidLike("+tweet.id+","+ tweet.likes+")></div></div>"
    
   
}



 //"<div class='heart' onclick=handleDidLike("+tweet.id+","+ tweet.likes+")>xD</div>"
function formatedTweetsElement(tweet){
    var formatedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'>" + 
        LikeBtn(tweet)+
        
    
     "</div>"
    return formatedTweet
}

xhr.responseType = responseTyp
xhr.open(method, url)
xhr.onload = function(){
    console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweet  = ""
    var i;
    for (i = 0; i < listedItems.length; i++){
        var tweetObj = listedItems[i]
        var currItem = formatedTweetsElement(tweetObj)
            finalTweet += currItem
    }
    tweetsElement.innerHTML = finalTweet
}
xhr.send()

</script>

{% endblock  %}