{% extends 'base.html'  %}
{% block content %}


  
<div class="mainColl">
    <div class="boxName">
        Main
    </div>
    <form>
        <div class="grid-container-tweet-container">
            <div class="boxForm">
                <div class="userPic"></div>
                <div class="formTextarea">
                    <textarea placeholder="Describe yourself here..." style="resize:none" class="textareaStyle" name="content" ></textarea>
                </div>
                <div class="buttonTweet">
                    <div class="tweetButtonForm">
                        <button type="submit" class="buttonFormStyle">Tweet</button>
                    </div>
                </div>
                
                <div class="otherButtons"></div>
            </div>
        </div>
    </form>
 
    <div id='tweets'> 

    </div>
</div>




<script>




const tweetsElement = document.getElementById('tweets')


const xhr = new XMLHttpRequest()
const method = 'GET'
const url = '/tweetList'
const responseTyp = "json"

function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id)

}

function LikeBtn(tweet){
    return "<div class='likeContainer'><div class='heart' onclick=handleDidLike("+tweet.id+","+ tweet.likes+")></div><div class='likesNumber'>"+ tweet.likes+"</div></div>"
   
}

function formatedTweetsElement(tweet){
    var formatedTweet = 
        "<div class='grid-container-tweet'><div class='boxTweet'><div class='profilePic'></div><div class='usernameData'>@JohnyDeep21</div><div class='firstButton'><div class='posButtons'><i class='fas fa-comment'></i></div></div><div class='secondButton'><div class='posButtons'><i class='fas fa-retweet'></i></div></div><div class='thirdButton'>"+LikeBtn(tweet)+"</div><div class='fourthButton'><div class='posButtons'></div></div><div class='tweetContent'>"+tweet.content +"</div></div></div>"
    return formatedTweet
}

xhr.responseType = responseTyp
xhr.open(method, url)
xhr.onload = function(){
    console.log(xhr.response)
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweet  = ""
    var i;
    for (i = 0; i < listedItems.length; i++){
        var tweetObj = listedItems[i]
        var currItem = formatedTweetsElement(tweetObj)
            finalTweet += currItem
    }
    tweetsElement.innerHTML = finalTweet
}
xhr.send()

</script>

{% endblock  %}