{% extends 'base.html'  %}
{% block content %}
<div class="mainColl">
    <div class="boxName">
        Main
    </div>
    <form id="tweet-create-form"  method="POST" action="/createTweet">
        {% csrf_token%}
        <div class="grid-container-tweet-container">
            <div class="boxForm">
                <div class="userPic"></div>
                <div class="formTextarea">
                    <textarea required="required" placeholder="What's on your mind..." style="resize:none" class="textareaStyle" name="content" ></textarea>
                    <input type='hidden' value='/' name="next"/>
                </div>
                <div class="buttonTweet">
                    <div class="tweetButtonForm">
                        <button type="submit" class="buttonFormStyle">Tweet</button>
                    </div>
                </div>
                
                <div class="otherButtons">
                    <div class="btn2">
                        <div class="icon1">
                            <i class="far fa-image"></i>
                        </div>
                        <div class="icon2">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <div class="icon3">
                            <i class="far fa-smile-beam"></i>
                        </div>
                        <div class="icon4">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="icon5">
                            <i class="far fa-bookmark"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
 
<div id='tweets'> 

</div>
</div>




<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



function handleFormSubmit(event){
    event.preventDefault()
    const myForm        = event.target
    const myFormData    = new FormData(myForm)
    const url           = myForm.getAttribute("action")
    const method        = myForm.getAttribute("method")
    const xhr           = new XMLHttpRequest()
    const responseType  = "json"
    xhr.responseType = responseType
    xhr.open(method, url )
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "HMLHttpRequest")
    xhr.setRequestHeader("X-Request-Width", "HMLHttpRequest")
    xhr.onload = function(){
        if (xhr.status === 201){
            const newTweetJson                  = xhr.response
            const newTweetElement               = formatedTweetsElement(newTweetJson)
            const firstHtml                     = tweetsContainerElement.innerHTML
            tweetsContainerElement.innerHTML    = newTweetElement + firstHtml
            console.log("xd3")
            myForm.reset()
        }else if (xhr.status === 400){
            const error = xhr.response
            console.log(errorJson)
        }
    }
    xhr.send(myFormData)
}

const tweetCreate = document.getElementById('tweet-create-form')
tweetCreate.addEventListener('submit',handleFormSubmit)



const tweetsContainerElement = document.getElementById('tweets')





function loadTweets(tweetsElement) {
    const xhr          = new XMLHttpRequest()
    const method       = 'GET'
    const url          = '/tweetList'
    const responseType = "json"
    xhr.responseType   = responseType
    xhr.open(method, url )
    xhr.onload = function(){
        const serverResponse = xhr.response
        const listedItems = serverResponse
        var finalTweet  = ""
        var i;
        for (i = 0; i < listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currItem = formatedTweetsElement(tweetObj)
            finalTweet += currItem
            console.log("Xdd1")
        }
        tweetsElement.innerHTML = finalTweet
    }
    xhr.send()
}
loadTweets(tweetsContainerElement)


function action(tweet_id, currentCount,action){

    const url       = "tweet/action"
    const method    = "POST"
   
    const data      = JSON.stringify({
        tweet_id      : tweet_id,
        action        : action
    })
    const csrftoken = getCookie('csrftoken');
    const xhr       = new XMLHttpRequest
    xhr.open(method, url )
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "HMLHttpRequest")
    xhr.setRequestHeader("X-Request-Width", "HMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function(){
        loadTweets(tweetsContainerElement)
        console.log(data)
    }

    xhr.send(data)
    return
}

function LikeBtn(tweet){
    return "<div class='likeContainer'><div class='heart' onclick=action("+tweet.id+","+ tweet.likes+",'like')></div><div class='likesNumber'>"+ tweet.likes+"</div></div>"
}

function RetweetBtn(tweet){
    return "<i  class='fas fa-retweet retweetHover' onclick=action("+tweet.id+","+ tweet.likes+",'retweet')></i>"
}


function formatedTweetsElement(tweet){
    var formatedTweet = 
        "<div id='tweet-"+tweet.id+"' class='grid-container-tweet'><div class='boxTweet'><div class='profilePic'></div><div class='usernameData'>@JohnyDeep21</div><div class='firstButton'><div class='posButtons'><i class='fas fa-comment'></i></div></div><div class='secondButton'><div class='posButtons'>"+RetweetBtn(tweet)+"</div></div><div class='thirdButton'>"+LikeBtn(tweet)+"</div><div class='fourthButton'><div class='posButtons'></div></div><div class='tweetContent'>"+tweet.content +"</div></div></div>"
    return formatedTweet
}

</script>

{% endblock  %}