
<div class="grid-container-nav-mobile ">
    <div class="tilesStyle tile1"><i class="fas fa-sign-in-alt"></i></div>
    <div class="tilesStyle tile2"><i class="fas fa-home"></i></div>
    <div class="tilesStyle tile3"><i class="fas fa-user-plus"></i></div>
</div>

<div class="leftCol">
    <div class="grid-container-left">
        <div class="tileStylePC logoTile">
            <div class="hoverStylleLogo">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="tileStylePC tile4">
            <div class="hoverStyllePc">
                <i class="fas fa-home"></i> &nbsp;&nbsp;Main
            </div>
        </div>
        <div class="tileStylePC tile5">
            <div class="hoverStyllePc">
                <i class="fas fa-hashtag"></i> &nbsp;&nbsp;Explore
            </div>
        </div> 
        <div class="tileStylePC tile6">
            <div class="hoverStyllePc">
                <i class="fas fa-user"></i> &nbsp;&nbsp;Profile
            </div>
        </div>
        <div class="tileStylePC tile7">
            <div class="hoverStyllePc">
                <i class="far fa-envelope"></i> &nbsp;&nbsp;Messages
            </div>
        </div>
        <div class="tileStylePC tile8">
            <div class="hoverStyllePc">
                <i class="fas fa-door-open"></i> &nbsp;&nbsp;Log Out
            </div>
        </div>
        <div class="tileStylePC tile9">
            <div class="tweetBTN">
                Tweet
            </div>
        </div>
    </div>    
</div>

<div class="rightCol">
    <div class="grid-container-ppl">
        <div class="searchBar"></div>
        <div class="pplBar">
          <div class="pplContainer">
            <div class="ppBarName"></div>
            <div class="showMore"></div>
            <div class="person1">
              <div class="picPerson1"></div>
              <div class="namePerson1"></div>
              <div class="buttonPerson1"></div>
            </div>
            <div class="person2">
              <div class="picPerson2"></div>
              <div class="namePerson2"></div>
              <div class="buttonPerson2"></div>
            </div>
            <div class="person3">
              <div class="picPerson3"></div>
              <div class="namePerson3"></div>
              <div class="buttonPerson3"></div>
            </div>
          </div>
        </div>
    </div>
</div>
