
.grid-container-tweet-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "boxForm";
    width: 100%;
    height: 20vh;
    border:  1px solid  #edf0f2;
    border-top: none;
  }
  .boxForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "userPic formTextarea formTextarea formTextarea formTextarea formTextarea"
      ". formTextarea formTextarea formTextarea formTextarea formTextarea"
      ". otherButtons otherButtons otherButtons buttonTweet buttonTweet";
    grid-area: boxForm;
  }
  .userPic { 
    grid-area: userPic;
    width: 100%;
    background-color: rgb(255, 255, 255);
    }
  .formTextarea {
    grid-area: formTextarea;
    width: 95%;
  }
  .buttonTweet {
    grid-area: buttonTweet;
    width: 100%;

  }
  .otherButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      "btn2 btn2 btn2"
      "btn2 btn2 btn2";
    grid-area: otherButtons;
  }
  .btn2{
    grid-area: btn2;
    width: 95%;
    margin-left: 5%;
  }

  .buttonFormStyle{
    background-color: rgb(29, 161, 242);
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin-left: 5%;
    padding: 5px 3px 5px 3px;
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;

  }
  .textareaStyle{
    width: 100%;
    height: 90%;
    margin-top: 4%;
    border: none;
    color:#1f1f1f
}
.textareaStyle:focus{
    outline: none;
}
.icon1,.icon2,.icon3,.icon4,.icon5{
  float: left;
  text-align: center;
  width: 15%;
  font-size: 23px;
  color: rgb(29, 161, 242);
  font-weight: 200;
}
.icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover,.icon5:hover{
  background-color:rgb(216, 233, 243);
  border-radius: 50px;
}
.icon1{
  margin-left: 0px;
}
::placeholder { 
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.showMoreLinks{
  color: rgb(29, 161, 242);
  padding-left: 4%;
  margin-top: 50%;
}